.panda-bg-info{
    background-color:#fceae8;
}
.Cetagory img{
    width:100px;
}

.watch-bg-color{
    background-color: #ffa500;
}
.bags-bg-color{
    background-color: #da70d6;
}
.shoes-bg-color{
    background-color: #0000ff;
}
.panda-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border-radius: 8px;
    padding: 9px 25px;
    color: white;
}